*{margin: 0%;}

/*CMN Fnt*/
body{
    font-family: 'Open Sans', sans-serif;
}
.primary-color {
    color: #FD6E0A ;
}

.btn-primary {
    background: #FD6E0A;
    border: 0px ;
    border-radius: 5px ;
    color: aliceblue;
    font-size: 20px ;
    font-weight: 700;word-wrap: break-word;
    padding: 20px 35px;
    box-shadow: 10px 10px 20px rgb(228, 180, 162);
    
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px 10px 200px;
    padding-top:30px ;
}

.nav-title{
    color: black;
    font-size:45px;
    font-weight:800;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right:50px;
}

nav a{
    text-decoration: none;
    color:#474747;;
}
/* header */
header{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png) , url(images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom , left;
    padding: 20px;
    
}


.banner{
    padding:  30px 100px 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-greet ,.banner-title ,.description {
    margin-bottom: 20px;
} 
.banner-greet{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: 700;
    word-wrap: break-word;
}

.profile-pic{
    width: 500px;
    height: 600px;
    position: bottom;
}

/* main*/
main{
    max-width: 1150px;
margin: 50px auto;
}
/* About section*/

.about-me{
     background-color: #FFF8F3;
     border-radius: 20px;
     box-shadow: 20px 10px 30px
     #d3cece;
    padding: 100px 200px;
    margin-top: 200px ;

    
}

.section-title{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
    text-shadow: 2px 2px 4px #ff5100;
}
.section-description{
    text-align: center;
}
.info{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    
}
.about-inf{
    text-align: center;
}
.what{
    margin-top: 150px;
}
.skill-con{
    display: flex;
    margin-top: 100px;  

}
.skill{
    background-color:#FFF8F3;
    margin-right: 50px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(177, 170, 170);
}
.skill-title{
    font-size:30px ;
    font-weight: 700;
    margin: 20px 5px;
}
/*  resume */

.summary{
    margin-top: 150px;
}
.clm{
    display: flex;
    margin-right: 50px;
    padding: 50px;
    gap: 100px;
}
.resume-clm-ttl{
    font-size: 35px;
    font-weight: 1000;
    margin-bottom: 20px;

}
.resume-item-ttl{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.sub-ttl{
    font-size: 20px;
    margin-bottom: 10px;
    color: #474747;
}
.item-des{
    font-size: 15px;
    
}
.Download{
    text-align: center;
    margin: 30px;
}

/*Footer sytle*/
footer{
    background-color:#FFF8F3 ;
    margin-top: 20px;
    padding: 100px 200px ;
}
.footer-sec{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    
}

.lets-ttl{
    font-size:30px ;
    font-weight: 700;
    margin-bottom: 20px;
}
.lets-dis{
    color: #474747;
    margin-bottom: 20px;
}

.icon{
    
}
.icon ul{
    display: flex;
   

   
}

.icon li{
    list-style: none;
    margin: 20px;

}
form input , textarea {
    display: block;
    margin-bottom: 25px;
    padding: 20px 30px;
    color: #474747;
    border: 0;
    border-radius: 10px;
    width:450px;
    
}
fo