*{margin: 0%;}

/*CMN Fnt*/
body{
    font-family: 'Open Sans', sans-serif;
}
.primary-color {
    color: #FD6E0A ;
}

.btn-primary {
    background: #FD6E0A;
    border: 0px ;
    border-radius: 5px ;
    color: aliceblue;
    font-size: 20px ;
    font-weight: 700;word-wrap: break-word;
    padding: 20px 35px;
    
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px 10px 200px;
    padding-top:30px ;
}

.nav-title{
    color: black;
    font-size:45px;
    font-weight:800;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right:50px;
}

nav a{
    text-decoration: none;
    color:#474747;;
}
/* header */
header{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png) , url(images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom , left;
    padding: 20px;
    
}


.banner{
    padding:  30px 100px 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-greet ,.banner-title ,.description {
    margin-bottom: 20px;
} 
.banner-greet{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: 700;
    word-wrap: break-word;
}

.profile-pic{
    width: 500px;
    height: 600px;
    position: bottom;
}

/* About section*/

.about-me{
     background-color: #FFF8F3;
    padding: 50px 150px;
    margin: 50px 200px;
    align-items: center;
}

.section-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.section-description{
    text-align: center;
}
.info{
    display: flex;
    margin-top: 20px;
    text-align: center;
    padding-left: 30%;
}
.info li{ 
   list-style: none;
   text-align: center;
   margin-right: 30px;
   
}